<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal</Template>
  <TotalTime>5</TotalTime>
  <Pages>13</Pages>
  <Words>6588</Words>
  <Characters>37554</Characters>
  <Application>Microsoft Office Word</Application>
  <DocSecurity>0</DocSecurity>
  <Lines>312</Lines>
  <Paragraphs>88</Paragraphs>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="4" baseType="variant">
      <vt:variant>
        <vt:lpstr>Название</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>1</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Headings</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>100</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="101" baseType="lpstr">
      <vt:lpstr/>
      <vt:lpstr>ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</vt:lpstr>
      <vt:lpstr>Термины и определения, использованные в Договоре с заглавной буквы, имеют значен</vt:lpstr>
      <vt:lpstr>Толкование:</vt:lpstr>
      <vt:lpstr>Заголовки статей Договора носят информационный характер и не должны учитываться </vt:lpstr>
      <vt:lpstr>Каждая из Сторон имела неограниченную реальную возможность влиять на содержание </vt:lpstr>
      <vt:lpstr>Ссылка на понятие, определенное в Договоре, включает в себя формы такого понятия</vt:lpstr>
      <vt:lpstr>Если иное не предусмотрено Договором, неиспользование Стороной какого-либо права</vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr>ПРЕДМЕТ ДОГОВОРА</vt:lpstr>
      <vt:lpstr>Исполнитель обязуется выполнять Работы в соответствии с Техническим заданием и п</vt:lpstr>
      <vt:lpstr>Конкретный перечень Работ, их стоимость (если стоимость не указана в Договоре) и</vt:lpstr>
      <vt:lpstr>Исполнитель обязуется выполнить Работы лично, привлечение субподрядчиков и иных </vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr>КОНФИДЕНЦИАЛЬНОСТЬ</vt:lpstr>
      <vt:lpstr>Исполнитель обязуется сохранять режим конфиденциальности в отношении следующей и</vt:lpstr>
      <vt:lpstr>содержание Договора, в том числе Технического задания;</vt:lpstr>
      <vt:lpstr>любая информация, полученная в связи с заключением и (или) исполнением Договора,</vt:lpstr>
      <vt:lpstr>указанные в п. 3.2 Договора Сведения, </vt:lpstr>
      <vt:lpstr>в том числе предпринимать все разумные меры по сохранению указанной информации в</vt:lpstr>
      <vt:lpstr>Результаты Работ (в том числе, промежуточные), а также информация о ходе выполне</vt:lpstr>
      <vt:lpstr>Не считается нарушением требований о конфиденциальности, раскрытие Конфиденциаль</vt:lpstr>
      <vt:lpstr>раскрытия Конфиденциальной информации (ее части) государственному органу, если т</vt:lpstr>
      <vt:lpstr>если Заказчик предоставил Исполнителю письменное согласие на раскрытие Конфиденц</vt:lpstr>
      <vt:lpstr>Исполнитель в течение срока действия Договора и 10 (десяти) лет после прекращени</vt:lpstr>
      <vt:lpstr>Положения настоящей статьи 3 Договора сохраняют свою силу в течение 10 (десяти) </vt:lpstr>
      <vt:lpstr>В случае нарушения Исполнителем требований настоящей статьи Договора, Исполнител</vt:lpstr>
      <vt:lpstr>Исполнитель обязуется перед Заказчиком: </vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr>ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ</vt:lpstr>
      <vt:lpstr>Исключительное право, а также право на получение патента (если применимо) на охр</vt:lpstr>
      <vt:lpstr>Во избежание сомнений Стороны подтверждают, что Результат Работ (в том числе, пр</vt:lpstr>
      <vt:lpstr>Настоящим Стороны подтверждают, что стоимость Работ включает вознаграждение Испо</vt:lpstr>
      <vt:lpstr>Исполнитель при выполнении Работ по Договору не вправе использовать интеллектуал</vt:lpstr>
      <vt:lpstr>В случае создания в результате выполнения Работ и (или) при выполнении Работ по </vt:lpstr>
      <vt:lpstr>Исполнитель настоящим предоставляет Заказчику письменное согласие на использован</vt:lpstr>
      <vt:lpstr>Исполнитель не вправе использовать Результат Работ, а также полученную от Заказч</vt:lpstr>
      <vt:lpstr>В случае создания при выполнении Работ графических интерфейсов Программы для ЭВМ</vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr>ОБЯЗАННОСТИ СТОРОН</vt:lpstr>
      <vt:lpstr>Исполнитель обязан:</vt:lpstr>
      <vt:lpstr>Своими силами и средствами выполнить Работы в соответствии с Договором и передат</vt:lpstr>
      <vt:lpstr>При необходимости использования в результате Работ охраняемых результатов интелл</vt:lpstr>
      <vt:lpstr>Незамедлительно письменно уведомлять Заказчика о каждом полученном при выполнени</vt:lpstr>
      <vt:lpstr>Использовать полученные от Заказчика исходные данные, а также другую документаци</vt:lpstr>
      <vt:lpstr>В случае обнаружения обстоятельств, которые влекут невозможность получить ожидае</vt:lpstr>
      <vt:lpstr>Незамедлительно письменно информировать Заказчика (допускается направление данно</vt:lpstr>
      <vt:lpstr>Своими силами и за свой счет устранять допущенные недостатки выполненных Работ, </vt:lpstr>
      <vt:lpstr>По требованию Заказчика обеспечить возможность последнему проверить соблюдение у</vt:lpstr>
      <vt:lpstr>Обеспечить выполнение Работ без нарушения интеллектуальных прав третьих лиц.</vt:lpstr>
      <vt:lpstr>Надлежащим образом исполнять иные обязанности, предусмотренные Договором.</vt:lpstr>
      <vt:lpstr>Заказчик обязан:</vt:lpstr>
      <vt:lpstr>Представить Исполнителю необходимую для начала Работ информацию в предусмотренно</vt:lpstr>
      <vt:lpstr>Произвести приемку выполненных Исполнителем Работ в предусмотренном Договором по</vt:lpstr>
      <vt:lpstr>Оплатить выполненные Исполнителем Работы в предусмотренном Договором порядке.  </vt:lpstr>
      <vt:lpstr>В случае поступления от Исполнителя в предусмотренном п. 5.1.5 Договора порядке </vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr>ПОРЯДОК ВЫПОЛНЕНИЯ РАБОТ И СДАЧИ ПРИЕМКИ РАБОТ</vt:lpstr>
      <vt:lpstr>Порядок и сроки выполнения Работ определяются в Техническом задании.</vt:lpstr>
      <vt:lpstr>Если иного не предусмотрено Техническим заданием, приемка Работ осуществляется в</vt:lpstr>
      <vt:lpstr>Исполнитель ежемесячно (15 числа каждого месяца) выполнения Работ направляет Зак</vt:lpstr>
      <vt:lpstr>Приемка Работ осуществляется Заказчиком в течение 15 (пятнадцати) рабочих дней с</vt:lpstr>
      <vt:lpstr>Исполнитель обязан безвозмездно и своими силами устранить выявленные недостатки </vt:lpstr>
      <vt:lpstr>В случае возникновения между Сторонами спора относительно недостатков выполненны</vt:lpstr>
      <vt:lpstr>Программа для ЭВМ передается Исполнителю в виде исходного и объектного кода вмес</vt:lpstr>
      <vt:lpstr>Исполнитель предоставляет гарантию на Программу для ЭВМ сроком на 2 (два) месяца</vt:lpstr>
      <vt:lpstr>В случае если Исполнитель нарушит установленный настоящим пунктом Договора срок </vt:lpstr>
      <vt:lpstr>Если выявленные недостатки Программы для ЭВМ являются (i) существенными и (ii) н</vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr>ЗАВЕРЕНИЯ ОБ ОБСТОЯТЕЛЬСТВАХ</vt:lpstr>
      <vt:lpstr>На дату приемки Работ (этапа Работ) Заказчиком Исполнителем предоставляются след</vt:lpstr>
      <vt:lpstr>Использование Заказчиком Результата Работ любым способом не нарушает интеллектуа</vt:lpstr>
      <vt:lpstr>Отсутствуют какие-либо обременения (в том числе, залог, лицензионные договоры, о</vt:lpstr>
      <vt:lpstr>Исключительное право Заказчика на Результат Работ не оспаривается третьими лицам</vt:lpstr>
      <vt:lpstr>При разработке Программы для ЭВМ не использовался программный код, распространяе</vt:lpstr>
      <vt:lpstr>Программа для ЭВМ на момент ее передачи Заказчику не содержит персональных данны</vt:lpstr>
      <vt:lpstr>Программа для ЭВМ на момент ее передачи Заказчику не будет являться вредоносной </vt:lpstr>
      <vt:lpstr>Исполнитель настоящим подтверждает и соглашается с тем, что каждое из Заверений </vt:lpstr>
      <vt:lpstr>Исполнитель подтверждает, что он удостоверился в достоверности каждого из Завере</vt:lpstr>
      <vt:lpstr>Сторонами согласовано, что каждое из Заверений об обстоятельствах является самос</vt:lpstr>
      <vt:lpstr>Исполнитель обязуется незамедлительно уведомить Заказчика о любых фактах недосто</vt:lpstr>
      <vt:lpstr>Если какое-либо из Заверений об обстоятельствах окажется недостоверным, неполным</vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr>ЦЕНА ДОГОВОРА И ПОРЯДОК ОПЛАТЫ</vt:lpstr>
      <vt:lpstr>Ежемесячная Стоимость Работ составляет 5 000 (Пять тысяч) долларов США, НДС не о</vt:lpstr>
      <vt:lpstr>Оплата производится Заказчиком ежемесячно 15 числа каждого месяца в российских р</vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr/>
      <vt:lpstr/>
      <vt:lpstr/>
      <vt:lpstr/>
      <vt:lpstr/>
      <vt:lpstr>Стоимость Работ включает компенсацию издержек Исполнителя, вознаграждение Исполн</vt:lpstr>
      <vt:lpstr>Расчеты по Договору производятся Заказчиком наличными или безналичными денежными</vt:lpstr>
      <vt:lpstr/>
      <vt:lpstr>ОТВЕТСТВЕННОСТЬ СТОРОН И ПОЛОЖЕНИЯ О ВОЗМЕЩЕНИИ ПОТЕРЬ</vt:lpstr>
      <vt:lpstr>В случае нарушения сроков выполнения Работ (этапов Работ) более, чем на 3 (Три) </vt:lpstr>
      <vt:lpstr>В случае нарушения Заказчиком срока оплаты Работ более, чем на 3 (Три) рабочих д</vt:lpstr>
      <vt:lpstr>В случае нарушения Исполнителем предусмотренных п. 6.4 Договоров сроков устранен</vt:lpstr>
      <vt:lpstr>Независимо от даты направления предусмотренного п. 9.1, 9.2, 9.3 Договора требов</vt:lpstr>
      <vt:lpstr>В случае нарушения Исполнителем предусмотренного п. 2.3 Договора обязательства, </vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <Company/>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>44054</CharactersWithSpaces>
  <SharedDoc>false</SharedDoc>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
